
.button{
	box-shadow: 5px 5px 5px #888888;
	margin-right: auto;
	margin-left: auto;
	height: 150px;
	width: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: white;
	margin-bottom: 100px;
}

/*Fresh water fish*/

.AmericanEel{
	background-image: url('http://myfwc.com/media/1774881/raverartAmerican-eel-sm.jpg');
}

.AmericanShad{
	background-image: url('http://myfwc.com/media/215481/Fish_AmericanShad.jpeg');
}

.BlackCrappie{
	background-image: url('http://myfwc.com/media/215488/Fish_BlackCrappie.jpg');
}

.BlueCatfish{
	background-image: url('http://myfwc.com/media/215509/Fish_BlueCatfish.png');
}


/*Salt Water Fish*/

.BlueMarlin{
	background-image: url('http://myfwc.com/media/215530/Fish_BlueMarlin.jpg');
}

.LongBillSpearfish{
	background-image: url('http://myfwc.com/media/87421/saltwater_billlong.jpg');
}

.Sailfish{
	background-image: url('http://myfwc.com/media/215700/Fish_Sailfish.jpg');
}

/*
misspelled because you wont use this*/
.AmericanEll{
	background-image: url('http://myfwc.com/media/1774881/raverartAmerican-eel-sm.jpg');
}